/* =========================
   Main Page Heading
   ========================= */

h1 {
    color: darkblue;
    text-align: center;
}


/* =========================
   Style for main CTA button
   ========================= */

.cta-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* =========================
   Event Information Box
   ========================= */

.event-box {
    background-color: #f2f2f2;
    border: 1px solid gray;
    padding: 15px;
    margin-top: 20px;
}